@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/* gallery slider */

[data-slider='gallery'] {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

[data-slider='thumbs'] .swiper-slide {
  @apply opacity-40;
}

[data-slider='thumbs'] .swiper-slide-thumb-active {
  @apply opacity-100;
}

[data-slider='gallery'] .swiper-button-prev,
[data-slider='gallery'] .swiper-button-next {
  @apply px-6 sm:px-4 py-9 sm:py-5 !-mt-9 sm:!-mt-5 bg-background !text-blue;
}

[data-slider='gallery'] .swiper-button-prev {
  @apply ml-1 sm:-ml-0.5;
}

[data-slider='gallery'] .swiper-button-next {
  @apply mr-1 sm:-mr-0.5;
}

@media (max-width: 767px) {
  [data-slider='gallery'] {
    --swiper-navigation-size: 24px !important;
  }
}
