@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

#sanity {
  @apply relative z-[999];
}

/* gallery slider */

[data-slider='gallery'] {
  --swiper-navigation-color: #fff;
  --swiper-pagination-color: #fff;
}

[data-slider='thumbs'] .swiper-slide {
  @apply opacity-40;
}

[data-slider='thumbs'] .swiper-slide-thumb-active {
  @apply opacity-100;
}

[data-slider='gallery'] .swiper-button-prev,
[data-slider='gallery'] .swiper-button-next {
  @apply px-6 sm:px-4 py-9 sm:py-5 !-mt-9 sm:!-mt-5 bg-background !text-blue;
}

[data-slider='gallery'] .swiper-button-prev {
  @apply ml-2 sm:-ml-0.5;
}

[data-slider='gallery'] .swiper-button-next {
  @apply mr-2 sm:-mr-0.5;
}

@media (max-width: 767px) {
  [data-slider='gallery'] {
    --swiper-navigation-size: 24px !important;
  }
}

/* mobile awards slider */

[data-slider='mobile-awards'] {
  @apply !overflow-visible;
}

[data-slider='mobile-awards'] .swiper-pagination {
  @apply !top-[6.4rem];
}

[data-slider='mobile-awards'] .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply !bg-red;
}

/* clients marquee */

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

.animate-marquee {
  animation: marquee var(--duration) linear infinite;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}
